---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");
  const tags = allPosts.flatMap(post=>post.frontmatter.tags);
  const all = [...new Set(tags)];
  return all.map(tag=>{
    return {params: { tag }, props: {posts: allPosts}}
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filterPosts = posts.filter(post=>post.frontmatter.tags.includes(tag));
---
<Layout title={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
{filterPosts.map(post=><BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
</Layout>
