---
import BlogPost from '../components/BlogPost.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "我的博客";
---

<Layout title={pageTitle}>
  <h2>我的 Astro 网站</h2>
  <Header />
  <ul>
    {allPosts.map(post=><BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
  <Footer />
</Layout>

