---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <Header />
	<main>
		<h1>Welcome to <span class="text-gradient">MyAstro</span></h1>
	</main>
  <Footer />
</Layout>

