---
const { frontmatter } = Astro.props;
import Header from "../components/Header.astro";
import Layout from "./Layout.astro";
---
<Layout title={frontmatter.title}>
  <Header />
  <h1>{frontmatter.title}</h1>
  <p>Written by {frontmatter.author}</p>
  <slot />
</Layout>
